.ready {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
}

.controls {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    top: 25px;
    left: 25px;
    column-gap: 5px;
}

button {
    padding: 5px 10px;
    background: #1B1C1E;
    border: 1px solid #161618;
}