:root {
  --vp-home-hero-name-color: #82dbc5;
  --vp-c-brand: #82dbc5;
  --vp-c-brand-1: #75c5b1;
  --vp-c-dark: #1f1f1e;
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-dark);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-dark);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-dark);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);

  --vp-button-alt-border: var(--vp-c-border);
  --vp-button-alt-text: var(--vp-c-neutral);
  --vp-button-alt-bg: var(--vp-c-mute);
  --vp-button-alt-hover-border: var(--vp-c-border);
  --vp-button-alt-hover-text: var(--vp-c-neutral);
  --vp-button-alt-hover-bg: var(--vp-c-mute-dark);
  --vp-button-alt-active-border: var(--vp-c-border);
  --vp-button-alt-active-text: var(--vp-c-neutral);
  --vp-button-alt-active-bg: var(--vp-c-mute-darker);

  --vp-button-sponsor-border: var(--vp-c-gray-light-3);
  --vp-button-sponsor-text: var(--vp-c-text-light-2);
  --vp-button-sponsor-bg: transparent;
  --vp-button-sponsor-hover-border: var(--vp-c-sponsor);
  --vp-button-sponsor-hover-text: var(--vp-c-sponsor);
  --vp-button-sponsor-hover-bg: transparent;
  --vp-button-sponsor-active-border: var(--vp-c-sponsor);
  --vp-button-sponsor-active-text: var(--vp-c-sponsor);
  --vp-button-sponsor-active-bg: transparent;
}

.VPSidebar .link.active span {
  font-weight: bold;
}

.vp-doc a {
  text-decoration: dashed;
  font-weight: bold;
}

.VPButton.medium.brand {
  color: var(--vp-button-brand-text);
}
.VPButton.medium.alt {
  border-color: var(--vp-button-alt-border);
  color: var(--vp-button-alt-text);
  background-color: var(--vp-button-alt-bg);
}


.VPButton.medium.egghead-cta {
  border-color: var(--vp-c-border);
  position: relative;
}

.VPButton.medium.egghead-cta:hover {
  border-color: var(--vp-c-border);
  color: var(--vp-button-brand-text);
  background-color: var(--vp-c-brand-light);
}

.VPButton.medium.egghead-cta::before {
  content: url('/egghead-icon.png');
  display: inline-block;
  transform: translateY(0.1rem);
  margin-right: 0.5rem;
}

.VPButton.medium.egghead-cta:hover::after {
  animation: none;
}
.VPButton.medium.egghead-cta::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*  background-color: var( --vp-c-dark); */
  border: 1px solid var(--vp-c-brand);
  border-radius: 20px;
  animation: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite;
  z-index: -1;
}

@keyframes ping {
  15%,
  to {
    transform: scale(1.25, 2);
    opacity: 0;
  }
}

.VPHomeSponsors {
  margin-bottom: 0px !important;
}
