---
import TransformControls from '/@/components/TransformControls.vue';
import Layout from '/@/layouts/Layout.astro';
---

<Layout title="Transform Controls.">
	<main>
		<TransformControls client:only />
	</main>
</Layout>

