name: Publish

on:
  workflow_dispatch:

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write # Required for OIDC trusted publishing
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          filter: tree:0

      - uses: ./.github/actions/setup-node

      - name: Build publishable packages
        run: pnpm nx run-many -p="tag:npm:public" -t=build

      - name: Print Environment Info
        run: pnpm nx report
        shell: bash

      - name: Determine npm tag
        id: npm-tag
        run: |
          BRANCH_NAME=${GITHUB_REF#refs/heads/}
          if [ "$BRANCH_NAME" = "main" ]; then
            echo "tag=latest" >> $GITHUB_OUTPUT
          else
            echo "tag=$BRANCH_NAME" >> $GITHUB_OUTPUT
          fi

      - name: Publish packages
        run: pnpm nx release publish --excludeTaskDependencies --tag=${{ steps.npm-tag.outputs.tag }}
        shell: bash
